@import url('https://fonts.googleapis.com/css2?family=Kalam&family=RocknRoll+One&display=swap');

body {
	width: 100vw;
	height: 100vh;
	background: rgb(12, 42, 20);
	background: linear-gradient(
		0deg,
		rgba(12, 42, 20, 1) 0%,
		rgba(10, 50, 15, 1) 5%,
		rgba(4, 18, 62, 1) 25%,
		rgba(11, 9, 56, 1) 32%,
		rgba(27, 10, 55, 1) 42%,
		rgba(43, 10, 62, 1) 54%,
		rgba(0, 0, 0, 1) 92%,
		rgba(0, 0, 0, 1) 100%
	);
	color: #49e59c;
	font-family: 'Kalam', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'RocknRoll One', sans-serif;
}

.App {
}

.header {
	background-color: black;
	display: flex;
}

nav {
	width: 80%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

a {
	text-decoration: none;
	color: #49e59c;
	margin: 0 2%;
	font-size: 1.5rem;
}
