@import url('https://fonts.googleapis.com/css2?family=Kalam&family=RocknRoll+One&display=swap');

body {
	width: 100vw;
	height: 100vh;
	background: rgb(20, 10, 43);
	background: linear-gradient(
		0deg,
		rgba(20, 10, 43, 1) 0%,
		rgba(19, 52, 19, 1) 0%,
		rgba(28, 43, 28, 1) 4%,
		rgba(30, 34, 46, 1) 8%,
		rgba(36, 18, 62, 1) 20%,
		rgba(5, 9, 54, 1) 33%,
		rgba(22, 16, 55, 1) 45%,
		rgba(1, 3, 19, 1) 74%,
		rgba(6, 6, 6, 1) 87%,
		rgba(30, 34, 46, 1) 100%
	);
	color: #49e59c;
	font-family: 'Kalam', cursive;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'RocknRoll One', sans-serif;
}

.App {
}

.header {
	background-color: black;
}
